.icon-square {
    border-radius: 5px;
}
body {
    padding: 50px;
    padding-top: 10px;
}
.navbar {
     padding: 0px;
}
    
.fashion .card {
    justify-content: center;
    align-items: center;
    position: relative;
    left: px;
    padding: 10px;
    margin-bottom: 10px;
}
.btn btn-primary {
    align-items: center;
}
.b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(39, 39, 39, 0.1);
    border: solid rgba(51, 51, 51, 0.15);
    border-width: 1px 0;
    box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, .1), inset 0 0.125em 0.5em rgba(0, 0,)
}

h5 {
    font-weight: 700px;
    font-size: 30px;
}
 @media (min-width:1201px) {
     p {
    font-size: 1.5rem;
     }
     .card-text {
    font-size: 1.15rem;
     }
}
     
